* {
    padding: 0;
    margin: 0;
}
body {
    min-height: 100vh;
    background: linear-gradient(135deg, #667eea, #764ba2);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.main {
 padding: auto;
}


.basic {
    background-color: black;
    width: 100px;
    height: 100px; 
    
}

